#footer address {
  padding: 1em;
}
#spi_bottomtxt tbody {
  border: 0px;
}
#spi_bottomtxt #ctl00_prop_bottomTxt {
  padding-top: 15px !important;
  padding-bottom: 50px !important;
}
.pane-content td {
  vertical-align: top;
}
/*
#search-block-form label {
  display: none;
}
*/
